.wrapper{
        margin-top: 56px;
        font-weight: 500;
    .menu{
        font-size: 1rem;
        padding: 15px 0;
        border-bottom: 1px solid $dark-gray;
        // display: flex;
        // justify-content: space-between;
        &>*{
            align-items: center;
            padding-right: 5px;
        }
        &:first-child {
            color: $marine-blue;
            font-weight: 700;
        }
        .link{
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: $light-gray;
            &:hover, &:active{
                color: $dark-gray;
            }
        }
        .active-link{
            color:$dark-gray;
        }
    }
}