$bg-color: #fff;
$marine-blue: #4B77DE;
$aqua-blue: #18CFD7;
$dark-gray: #707070;
$light-gray: #BFBFBF;
$light-gray2: #9D9D9D;
$orange: #FF9D00;
$line-color: #EBEBEB;

$input-color: #ECECEC;
$footer-color: #F1F1F1;