.container{
    .spinner{
        height: 70px;
        animation: spinner 1.3s steps(12) infinite;
    }
}

@keyframes spinner{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}