$base: #03A9F4;
$text: #555;
$invalid: #E91E63;
$width: 400px;
$cubic: cubic-bezier(.64,.09,.08,1);

.form{
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    input[type="submit"] {
        margin-top: 10px;
        width: 40%;
        background-color: $marine-blue;
    }
    .text-input{
        border: 0;
        background-color: $input-color;
        margin-bottom: 7px;
        font-size: $normal-font-size;
        padding: 12px 0 12px 12px;
        font-weight: 400;
        &:focus{
            outline: none;
            border: 1px solid $dark-gray;
        }
    }
    input[type="email"] {
        &~span.validation-text {
            position: absolute;
            visibility: hidden;
            font-family: 'roboto', sans-serif;
            font-size: 0.6em;
            width: $width;
            margin-left: 25px;
            margin-top:-5px;
            color: white;
            transition: color 0.3s ease-in-out;
          }
          &:not([value=""]) {
            &::-webkit-input-placeholder {
              font-size: 0.8em;
              transform: translateY(-20px);
              visibility: visible !important;
              opacity: 1;
            }
            &:focus::-webkit-input-placeholder {
              color: $base;
            }
            &:focus:not(:valid)::-webkit-input-placeholder {
              color: $invalid;
            }
          }
          &:focus {
            background-position: 0 0;
            &:not(:valid):not([value=""]) {
              border-bottom: solid 1px $invalid;
              background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $invalid 4%);
            }
          }
          &:not(:focus):not(:valid):not([value=""]) {
            &::-webkit-input-placeholder {
              color: $invalid;
            }
            border-bottom: solid 1px $invalid;
            background-position: 0 0 ;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $invalid 4%);
            &~span.validation-text {
              visibility: visible;
              color: $invalid;
            }
          }
    }
}